.about {
   width: 100%;
   height: 600px;
   display: flex;
   gap: 30px;
   padding: 50px 0;

   &-left {
      width: 55%;
      height: 100%;
      display: flex;
      // align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      gap: 30px;

      .about-title {
         font-size: 48px;
      }

      p {
         font-size: 20px;
         line-height: 30px;
         color: #8F95A5;
      }

      .static {
         display: flex;
         justify-content: space-around;

         .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
               font-weight: 600;
               font-size: 48px;
               color: #2A3246;
            }

            p {
               font-size: 20px;
               line-height: 30px;
               color: #8F95A5;
            }
         }
      }
   }

   &-right {
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
         width: 100%;
         object-fit: cover;
      }
   }
}

@media(max-width: 992px) {
   .about {
      &-left {

         .about-title {
            font-size: 36px;
         }

         p {
            font-size: 16px;
            line-height: 24px;
         }

         .static {
            .item {
               span {
                  font-size: 30px;
               }

               p {
                  line-height: 24px;
               }
            }
         }
      }
   }
}

@media(max-width: 767px) {
   .about {
      flex-direction: column-reverse;
      margin-top: 300px;

      &-left {
         width: 100%;
         gap: 20px;
         text-align: center;

         .about-title {
            font-size: 30px;
         }

         p {
            font-size: 14px;
            line-height: 21px;
         }

         .static {
            .item {
               span {
                  font-size: 22px;
               }
            }
         }
      }

      &-right {
         width: 100%;
      }
   }
}

@media(max-width: 567px) {
   .about {
      height: fit-content;
      margin-top: 0;

      &-left {
         gap: 20px;

         .about-title {
            font-size: 30px;
         }

         p {
            font-size: 12px;
            line-height: 20px;
         }

         .static {
            flex-direction: column;
            gap: 50px;

            .item {
               span {
                  font-size: 22px;
               }
            }
         }
      }
   }
}